/* Estilos del bloque de información de productos */
.informacion {
     /*padding: 6rem;*/
     padding: 6rem 0rem 0rem 4rem;
}

/* Estilos para el contenedor principal */
.informa {
    width: 100%;
    display: flex;
}

/* Estilos para la información adicional */
.infor {
    padding: 0 0 0 64rem;
}

/* Estilos para el título */
.informacion h1 {
    margin: -4rem 0rem -4rem 39rem;
    font-family:Verdana, Helvetica, monospace;
}

/* Estilos para las imágenes */
.informacion img {
    width: 30rem;
    height: 17rem;
    border-radius: 100rem 100rem 100rem 100rem;
}

/* Estilos para los párrafos */
.informacion p {
    width: 43rem;
    margin: 3rem 0rem 0rem -3rem;
}

/* Estilos para el contenedor secundario */
.informacion div {
    flex-direction: row;
    margin: 3rem 3rem 3rem 3rem;
}


.informacion section {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0rem 10rem 0rem 6rem;
}

.informacion hr {    
    border: 2px solid var(--color-shade);   
    margin: 0rem 20rem 0rem 20rem;
}

