/* Estilos del bloque de información de productos */
.informacion {
     padding: 1rem 0rem 0rem 4rem;
}

/* Estilos para el contenedor principal */
.informa {
    width: 100%;
    display: flex;
}

/* Estilos para la información adicional */
.infor {
    /*padding: 0 0 0 64rem;*/
}

/* Estilos para el título */
.informacion h1 {
    margin: 4rem 0rem -2rem 39rem;
    font-family:Verdana, Helvetica, monospace;
}

/* Estilos para las imágenes */
.informacion img {
    width: 23rem;
    height: 15rem;
    border-radius: 20rem 20rem 20rem 20rem !important;
}

/* Estilos para los párrafos */
.informacion p {
    width: 47rem;
    margin: 3rem 0rem 0rem -3rem;
}

/* Estilos para el contenedor secundario */
.informacion div {
    flex-direction: row;
    margin: 1rem 6rem 1rem 3rem;
}

.informacion section {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0rem 10rem 0rem 6rem;
}

.informacion hr {    
    border: 2px solid var(--color-shade);   
    margin: 0rem 20rem 0rem 20rem;
}

