/* Estilos para el contenedor principal de producto */
.product {
    display: flex;
    flex-direction: column;    
    justify-content: space-around;
    align-content: center;
}

/* Estilos para el encabezado dentro del contenedor de producto */
.product header {
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
    align-content: center;    
    align-items: center;
    margin: 8.5rem 0 0 24rem;        
}

/* Estilos para los elementos div dentro del contenedor de producto */
.product div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    justify-content: space-around;
    align-content: center;
    width: 100%;
    margin: 0.5rem;    
    text-align: center;
}

/* Estilos para los párrafos dentro del contenedor de producto */
.product p {       
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: justify;    
    width: 80%;
    height: 5.9rem;
    font-size: smaller;         
}

/* Estilos para el contenido principal dentro del contenedor de producto */
.product main {    
    width: inherit;  
    max-width: 20rem;  
    margin: 3rem;
    /*padding: 0 2rem 0 2rem;*/
    border-radius:0.5rem; 
    height: 32rem;   
    background:var(--color-background);
    box-shadow: var(--box-shadow-down);
}

/* Estilos para las imágenes dentro del contenedor de producto */
.product img {
    width: 100%;
    margin: -0.6rem 1rem 0rem 0rem;
    border-radius: 0.2rem;
    height: 13rem;
}

/* Estilos para los botones dentro del contenedor de producto */
.product button {
    margin: -5.6rem;
}

/* Estilos para el elemento de eliminar toda la informacion del producto */
.caneca-basura {
    /*height: 1.2rem;*/
    padding: 0.9rem 0rem 0rem 10.5rem;
}

/* Estilo para el tercer elemento <li> dentro del contenedor de producto */
.product ul li:nth-of-type(3) {
    
    background-color: lightblue;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
